* {
  margin: 0;
  padding: 0;
}
/* 
.hero {
  width: 1500px;
  height: 700px;
  margin: 90px;
  background-image: url(./images/Banner\ Image.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero h2 {
  font-size: 40px;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero p {
  padding-top: 70px;
  font-size: 70px;
  color: aliceblue;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.full-banner-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
}

.banner-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: url(./images/Banner\ Image.png) no-repeat center;
  height: 600px;
  width: 1320px;
  border-radius: 16px;
  overflow: hidden;
}
.bg-shadow {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.403));
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.container h1 {
  font-size: 40px;
}
.container p {
  font-size: 80px;
}

/* Offer Section Style */

.full-offer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full-offer-content h3 {
  color: red;
  padding-bottom: 40px;
  font-size: 65px;
  font-weight: 700;
}
.full-offer-content p {
  color: red;
  font-weight: 600;
  padding-bottom: 10px;
}
.full-offer-content h2 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 30px;
}

/* welcome banner */

.welcome-full-banner-section {
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-banner-image {
  position: relative;
  background: url(./images/Vectorrr.png) no-repeat center;
  height: 600px;
  width: 1320px;
  border-radius: 16px;
  overflow: hidden;
}
.banner-image-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: rgb(238, 231, 231); */
  background: linear-gradient(
    90deg,
    rgba(9, 9, 9, 0.896) 0%,
    rgba(0, 0, 0, 0.686) 75%,
    rgba(0, 0, 0, 0.192) 100%
  );
}
.welcome-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 50px; */
}
.Welcome-text {
  color: aliceblue;
  padding-left: 80px;
  padding-right: 80px;
}
.Welcome-text h2 {
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 15px;
}
.Welcome-text p {
  padding-bottom: 100px;
}

.join-now-button {
  background-color: red;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  border: none;
}

.image2024 {
  padding-left: 150px;
}

/* Place and date */

.place-full-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-text {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* background: rgb(238, 231, 231); */
  background: linear-gradient(
    3deg,
    rgba(238, 231, 231, 0.2) 0%,
    rgba(250, 0, 0, 0.2) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 482px;
  width: 1320px;
  border-radius: 20px;
}
.red-text {
  color: red;
}

/* Coming soon */
.coming-soon-full-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 482px;
  width: 1320px;
  padding: 100px;
}

.black-text-coming {
  color: black;
  font-size: 60px;
  font-weight: 700;
}
.coming-p-text {
  color: rgb(93, 91, 91);
  font-size: 20px;
  font-weight: 300;
}
.red2024 {
  color: red;
  font-size: 50px;
  font-weight: 600;
}
.text2024 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.circle-image img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  padding: 30px;
  border-radius: 50%;
  border: 15px solid red;
}

/* Holiday sale */

.holiday-full-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.holiday-block-section {
  height: 987px;
  width: 1320px;
  display: flex;
  justify-content: top center;
}

.holiday-text {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}
.holiday-black-text {
  font-size: 30px;
  font-weight: 400;
}
.holiday-red-text {
  color: red;
  font-size: 60px;
  font-weight: 900;
}
.holiday-sale-fifty {
  color: black;
  font-size: 60px;
  font-weight: 900;
}

.holiday-p-text {
  justify-content: center;
  text-align: center;
  color: rgb(118, 117, 117);
  font-size: 20px;
  font-weight: 300;
  padding: 40px;
  width: 70%;
}

.full-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.holiday-image-section {
  width: 100%;
  height: 600px;
  position: relative;
}
.bg-rectangle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.discount-img {
  position: absolute;

  height: 220px;
  top: 90px;
  right: 130px;
}
.box-image {
  /* margin-bottom: 200px; */
  position: absolute;
  height: 500px;
  left: 140px;
  bottom: 0;
  z-index: 2;
}

/* Best gift */

.best-gift-fullsection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-content-section {
  height: 1163px;
  width: 1320px;
  /* background-color: aqua; */
}
.best-red-text {
  color: red;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
}
.best-black-text {
  font-size: 35px;
  font-weight: 600;
}
.best-paragraph-text {
  font-size: 20px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  padding-top: 30px;
  padding-bottom: 45px;
}
.best-gift-image {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* newsletter section style */

.newsletter-full-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-content {
  background-color: rgb(246, 220, 220);
  height: 620px;
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 45px;
}
.newsletter-black-heading {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 40px;
}

.newsletter-paragraph {
  font-size: 20px;
  font-weight: 400;
  color: rgb(69, 68, 68);
  text-align: center;
  padding-left: 40px;
  padding-left: 40px;
  padding-bottom: 80px;
}
.input-section {
  display: flex;
}
.input {
  height: 40px;
  width: 250px;
  font-size: 20px;
  padding-left: 5px;
}
.Subscribe {
  height: 44px;
  width: 130px;
  border-right: 40px;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: red;
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}

/* Footer Section style */

.footer-full-section {
  background-color: black;
  height: 500px;
  width: 1600px;
  margin-top: 20px;
}
.footer-full-style {
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
}
.info-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-top: 50px;
  padding-left: 150px;
  justify-content: space-between;
}
.icon-part {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#web {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Rights-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-content: space-between;
  padding-left: 150px;
}
